<footer class="footer">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Gr8 Shop
                    </a>
                </li>
            </ul>
        </nav>
        <span>&copy; {{time}}</span>
        <div class="copyright">

            made with <i class="material-icons">favorite</i> by
            <a href="https://trainingangular.radicspatrik.com/" target="_blank">Nekünk Nyóc</a> in the beautiful
            Budapest
        </div>
    </div>
</footer>