.error-feedback {
    width: 100%;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(155, 4, 4);
    overflow: hidden;
    position: absolute;
    animation: error 1s 1;
  }

  @keyframes error{
    0% {
      right: -300px;
    }
    50% {
      right: -15px;
    }

  }

  .save {
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    0% {
     transform: rotate(0);
    }

    50%{
      transform: rotate(-180deg);
    }

    100%{
      transform: rotate(-360deg);
    }
  }
