<div class="row">
  <div class="col-6 offset-3">
    <div class="card">

      <div class="card-header card-header-success">
        <h4 class="card-title">Edit product</h4>
        <p class="card-category">Complete your modification of the product!</p>
      </div>

      <div *ngIf="(product$ | async) as product" class="card-body">
        <form #productForm="ngForm" (ngSubmit)="onUpdate(productForm, product)">
          <div class="form-group">
            <label for="">catID</label>
            <input name="catID" [(ngModel)]="product.catID" type="number" class="form-control" pattern="^[0-9]{1,5}$"
              required>
            <div [hidden]="productForm.controls.catID?.valid" class="error-message">
              catID can only contain number and must be 1-5 characters long!
            </div>
          </div>

          <div class="form-group">
            <label for="">name</label>
            <input name="name" [(ngModel)]="product.name" type="text" class="form-control" pattern=".{3,30}" required>
            <div [hidden]="productForm.controls.name?.valid" class="error-message">
              Name must start with an UPPERCASE character, and must be 3 characters long at least
            </div>
          </div>

          <div class="form-group">
            <label for="">type</label>
            <input name="type" [(ngModel)]="product.type" type="text" class="form-control" pattern=".{3,25}" required>
            <div [hidden]="productForm.controls.type?.valid" class="error-message">
              Type must be 3 characters long at least!
            </div>
          </div>
      <div class="form-group">
        <label for="">description</label>
        <textarea name="description" [(ngModel)]="product.description" type="text" class="form-control" pattern=".{3,500}"
        required>
          <input>

        </textarea>
        <div [hidden]="productForm.controls.description?.valid" class="error-message">
          Description must be 3-500 characters long!
        </div>
      </div>

      <div class="form-group">
        <label for="">price</label>
        <input name="price" [(ngModel)]="product.price" type="number" class="form-control" pattern="^[0-9]{1,20}$"
          required>
        <div [hidden]="productForm.controls.price?.valid" class="error-message">
          Price can only contain number and must be 1-20 characters long!
        </div>
      </div>

      <div class="form-group">
        <label for="">featured</label>
        <input name="featured" [(ngModel)]="product.featured" class="form-check-input ml-2"  type="checkbox" name="featured" checked>
      </div>

      <div class="form-group">
        <label for="">active</label>
        <input name="active" [(ngModel)]="product.active" class="form-check-input ml-2"  type="checkbox" name="active" checked>
      </div>

          <button [disabled]="productForm.invalid || updating" type="submit" class="btn btn-primary btn-block btn-lg">
            <span *ngIf="!updating" class="material-icons">save_alt</span>
            <span *ngIf="updating" class="material-icons save">cached</span>
          </button>

        </form>
      </div>

    </div>
  </div>
</div>
