.sortedHeads:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
tr:hover {
    background-color: rgb(220, 220, 220) !important;
}


// a filter designhoz kell
.options-control {
    padding:0 !important;
    height: 48px !important; 
}

.address-options-control {
    margin-left: 0 !important;    
}
// a filter designhoz kell