// a filter designhoz kell
.options-control {
    padding:0 !important;
    height: 48px !important;
}
// a filter designhoz kell

.sortedHeads:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
tr:hover {
  background-color: rgb(220, 220, 220) !important;
}

.sumCell {
  border-top: 2px solid #dddddd;
  font-weight: 900;
}

